@model IEnumerable<TankMonitor.SiteDb.Tank>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tanks for @ViewData["siteNumber"]</h2>


<p>
    <a asp-action="Create" asp-route-siteId="@ViewData["siteId"]" asp-route-siteNumber="@ViewData["siteNumber"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TankNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.SiteId == Convert.ToInt32(ViewData["siteId"]))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TankNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TankSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TankProduct)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TankId" asp-route-siteId="@ViewData["siteId"]" asp-route-siteNumber="@ViewData["SiteNumber"]">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TankId" asp-route-siteId="@ViewData["siteId"]" asp-route-siteNumber="@ViewData["SiteNumber"]">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TankId" asp-route-siteId="@ViewData["siteId"]" asp-route-siteNumber="@ViewData["SiteNumber"]">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
